html {
    padding-top: 70px;
}

header {
    color: #36393F;
}

body {
    background-color: #2C2F33;
    color: #36393F;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
    background-color: #7289DA;
    color: #36393F;
}

.navbar-brand {
    color: #36393F;
}

.navbar-nav .nav-link {
    color: #36393F;
}

.navbar-nav .nav-link:hover {
    background-color: #DCDFE4;
}

.section {
    background-color: #36393F;
    color: #DCDFE4;
}

.title h1 {
    color: #7289DA;
}

.lead {
    font-size: 1.25rem;
}

/*.img-fluid {
    border-radius: 50%;
}*/


footer {
    background-color: #36393F;
    color: #36393F;
}

.fw-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

.form-control-lg {
    height: 56px;
    padding: 20px;
    font-size: 1.25rem;
    border-radius: 1rem;
}

.form-outline {
    border: 1px solid #36393F;
}

.form-white {
    background-color: #36393F;
}

.form-label {
    position: absolute;
    top: 20px;
    left: 20px;
    pointer-events: none;
    color: #36393F;
    font-size: 1.25rem;
    transition: all 0.2s ease-out;
}

input:focus + .form-label,
input:valid + .form-label {
    top: -10px;
    font-size: 0.875rem;
    color: #36393F;
}

.gradient-custom {
    background: linear-gradient(to bottom, #7b4397, #dc2430);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #36393F;
}

.navbar-light .navbar-nav .nav-link {
    color: #36393F;
}

.card {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 40px;
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5);
}
.bs-github-icon {
    font-size: 2rem; color: black;
}
.bs-email-icon {
    font-size: 2rem; color: gray;
}